<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>

    <script src="/js/cookie-controller.js"></script>
    <title>TODOLIST-帮您掌控时间</title>
</head>
<style>
    .login{
        margin-top: 5px;
    }
</style>
<body>
<!--<h1>Welcome to express</h1>-->
<!--————by bigdevil-->
<div class="page">
    <div class="box box-header">
        <div>
            <ul class="nav">
                <li>
                    <div class="avatar">
                        <a href="/upload_avatar"><img src="<%=avatar%>" alt=""></a>
                    </div>

                </li>
                <li>
                    <div class="text">
                        <%= userName %>
                    </div>
                </li>
                <li>
                    <div class="text">
                        <a href="/logout">登出</a>
                    </div>
                </li>
            </ul>
            <h1>TODOLIST</h1>

        </div>
    </div>