<%-include('./header_top_login.ejs')-%>
<div class="box">
    <form class="form-inline" method="post" action="/edit_avatar" enctype="multipart/form-data">
        <div class="form-group">
            <label class="sr-only" for="itemContent">上传头像</label>
            <div class="input-group">
                <div class="input-group-addon">上传头像</div>
                <input type="file" name="avatar" id="avatarFile">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
</div>
<%-include('./header_footer.ejs')-%>